.screen {
    background-color: rgb(67, 67, 67);
    height: 323px;
    width: 330px;
    margin: 6px 0;
    transform: rotateX(348deg);
    box-shadow: 0 3px 10px rgba(93, 92, 92, 0.7);
    border-radius: 10px;
    padding: 40px;
}
element.style {
    display: flex;
    justify-content: space-around;
}